<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{'/person/list'}">Liste des personnes</a><br>
<a th:href="@{'/person/add'}">Ajouter une personne</a>
</body>
</html>