<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h1>Détails</h1>
<h2>Prenom : <span th:text="${personne.getPrenom()}">Paul</span> </h2>
<h2>Nom : <span th:text="${personne.getNom()}"></span></h2>
<h2>Année de naissance : <span th:text="${personne.getNaissance()}">1890</span></h2>
<h2>ID : <span th:text="${personne.getId()}"></span> </h2>


</body>

</html>