<!DOCTYPE html>
<html lang="fr"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr th:each="personne: ${personnes}">
        <td><span th:utext="${personne.prenom}+' '+${personne.nom}"></span></td>
        <td><a href="#" th:href="@{'/person/detail/'+${personne.id}}">detail</a></td>
        <td><a th:href="@{'/person/del/'+${personne.id}}">supprimer</a></td>
        <td><a th:href="@{'/person/mod/'+${personne.id}}">modifier</a></td>
    </tr>
</table>

</body>
</html>